.heroSection {
    font-family: "Montserrat", sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(/src/images/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heroContainer {
    max-width: 90rem;
    margin: 0 auto;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 80px;
}

.textColumn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3.75rem;
    font-size: 24px;
    margin-bottom: 80px;

}

.leftColumn {
    text-align: right;
}

.leftColumn,
.rightColumn {
    flex-basis: 25rem;
}

.verticalLine {
    height: 144px;
    width: 3px;
    border-radius: 10px;
    background-color: #fff;
}


.searchBlock {
    display: flex;
}

.searchInput {
    width: 625px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    border-radius: 10px 0 0 10px;
    color: #878787;
    font-size: 14px;
    background-color: #D9D9D9;
    outline: 2px #000 solid;
    border: none;
}

.searchBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: #FFB36C;
    border: none;
    outline: 2px #000 solid;
    border-radius: 0 10px 10px 0;
}