.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .listContainer {
        padding: 40px 20px;
        justify-content: center;
        gap: 30px;
    }
}